<!-- footer -->
<ul class="sns-icon">
	<li><a href="https://twitter.com/nwu_shikapro" target=”_blank” class="flowbtn10"><i class="fab fa-twitter"></i></a></li>
	<li><a href="https://www.instagram.com/nwu_shikapro/" target=”_blank” class="flowbtn10"><i class="fab fa-instagram"></i></a></li>
	<li><a href="お問い合わせ先のURL" target=”_blank” class="flowbtn10"><i class="far fa-envelope"></i></a></li>
</ul>
<p class="copyright">© 2022 Shikapro</p>