<!-- header -->
<h1 class="headline">
  <a href="/">サイト名</a>
</h1>
<ul class="nav-list">
  <li class="nav-list-item">
    <a href="/">進捗状況</a>
  </li>
  <li class="nav-list-item">
    <a href="/users/test">マイページ</a>
  </li>
</ul>
