<!DOCTYPE html>
<html lang="ja">
<head>
	<%- include('partials/head'); %>
</head>
<body>
	<%- include('partials/test_top_bar'); %>
	<header><%- include('partials/header'); %></header>

	<main>
		<h1>進捗状況</h1>
	</main>

	<footer><%- include('partials/footer'); %></footer>
</body>
</html>