<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('partials/head'); %>
</head>
<body>
  <%- include('partials/test_top_bar'); %>
  <header><%- include('partials/header'); %></header>

  <main>
    <div class="sign">
      <div class="container">
        <div class="panel">
          <h2>パスワードの設定</h2>
          <form action="" method="">
            <p>パスワード</p>
            <input type="text">
            <p>パスワード(確認用)</p>
            <input type="password">
            <input type="submit" value="送信">
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer><%- include('partials/footer'); %></footer>
</body>
</html>